.vehicleDetails {
    display: flex;
    color: white;
    padding: 1em;
    display: flex;
    gap: 4em;

    &__carousel {
        display: block;
        flex-grow: 1;
        width: 50%;
        overflow: hidden;
        border: solid 1px white;
        border-radius: 2em;

        &__imgWrapper {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 40%;
        position: relative;

        &__title {}

        &__subtitle {
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1px white;
            padding: 0.2em 0 0.2em 0;
            width: 100%;

            &__tag {
                margin-right: 0.3em;
            }

            &__rating {
                display: inline-block;
                text-align: end;

                span {
                    color: yellow;
                }
            }

        }

        &__description {
            margin: 1em 0;
        }

        &__additional {
            border-bottom: solid 1px white;
            padding-bottom: 1em;

            summary {
                &:hover {
                    cursor: pointer;
                }
            }

            p {
                color: rgb(186, 186, 186);
                margin-left: 0.8em;
                margin-top: 0.4em;
            }
        }

        &__price {
            position: absolute;
            bottom: 0;
            font-size: 2em;
            align-self: flex-end;

            s {
                color: gray;
                font-size: 0.5em;
            }

            &__discounted {
                color: red;
                font-size: 2rem;

                sup {
                    font-size: 0.5em;
                }
            }

            sub {
                font-size: 0.5em;
            }

        }
    }
}

.commentSection {
    display: flex;
    padding: 1em;
    width: 100%;
    height: 100%;
    gap: 2em;

    &__reviews {
        flex-grow: 1;
        display: flex;
        flex-direction: column-reverse;
        
    }

    &__add {
        display: flex;
        flex-direction: column;
        color: white;
        min-width: 35%;

        textarea {
            width: 100%;
            height: 10em;
            resize: none;
            padding: 0.5em;
            border: none;
            background-color: rgb(182, 182, 182);

            &:focus {
                outline: none;
            }
        }

        &__starRating {
            display: inline-block;
            transform: translateY(-80%);
            width: fit-content;

            &:hover {
                cursor: pointer;
            }

            span {
                font-size: 2em;
                &:hover {
                    color: yellow !important;
                }
            }
        }

        button {
            display: inline-block;
            padding: 0.2em 1em;
            font-size: 1em;
            color: rgb(0, 0, 0);
            background-color: rgb(182, 182, 182);
            border: none;
            align-self: flex-end;
            border-radius: 0 0 0.5em 0.5em;
            transition: background-color linear 150ms;

            &:hover {
                background-color: rgb(59, 231, 136);
                color: white;
            }
        }
    }
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}


@media(max-width: 1020px){
    .vehicleDetails{
        &__info{
            &__price{
                position: static;
                font-size: 1.9em;
                &__discounted{
                    font-size: 0.8em;
                }
            }
        }
    }
}



@media(max-width:880px){
    .vehicleDetails{
        gap: 1em;
        &__carousel{
            height: fit-content;
        }
        &__info{
            &__price{
                position: static;
                font-size: 1.6em;
                s{
                    display: none;
                }
                sub{
                    display: none;
                }
                &__discounted{
                    font-size: 1em;
                }
            }
        }
    }

    .commentSection{
        &__add{
            textarea{
                height: 6em;
            }
        }
    }
}



@media (max-width: 640px) {
    .vehicleDetails{
        flex-direction: column;
        &__carousel{
            width: 100%;
        }
        &__info{
            width: 100%;

            &__price{
                position: static;
            }
        }
    }
    .commentSection{
        flex-direction: column-reverse;
        
    }
}