.vehicleDetails {
  display: flex;
  color: white;
  padding: 1em;
  display: flex;
  gap: 4em;
}
.vehicleDetails__carousel {
  display: block;
  flex-grow: 1;
  width: 50%;
  overflow: hidden;
  border: solid 1px white;
  border-radius: 2em;
}
.vehicleDetails__carousel__imgWrapper {
  width: 100%;
}
.vehicleDetails__carousel__imgWrapper img {
  width: 100%;
}
.vehicleDetails__info {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
}
.vehicleDetails__info__subtitle {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px white;
  padding: 0.2em 0 0.2em 0;
  width: 100%;
}
.vehicleDetails__info__subtitle__tag {
  margin-right: 0.3em;
}
.vehicleDetails__info__subtitle__rating {
  display: inline-block;
  text-align: end;
}
.vehicleDetails__info__subtitle__rating span {
  color: yellow;
}
.vehicleDetails__info__description {
  margin: 1em 0;
}
.vehicleDetails__info__additional {
  border-bottom: solid 1px white;
  padding-bottom: 1em;
}
.vehicleDetails__info__additional summary:hover {
  cursor: pointer;
}
.vehicleDetails__info__additional p {
  color: rgb(186, 186, 186);
  margin-left: 0.8em;
  margin-top: 0.4em;
}
.vehicleDetails__info__price {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  align-self: flex-end;
}
.vehicleDetails__info__price s {
  color: gray;
  font-size: 0.5em;
}
.vehicleDetails__info__price__discounted {
  color: rgb(255, 49, 49);
  font-size: 2rem;
}
.vehicleDetails__info__price__discounted sup {
  font-size: 0.5em;
}
.vehicleDetails__info__price sub {
  font-size: 0.5em;
}

.commentSection {
  display: flex;
  padding: 1em;
  width: 100%;
  height: 100%;
  gap: 2em;
}
.commentSection__reviews {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}
.commentSection__add {
  display: flex;
  flex-direction: column;
  color: white;
  min-width: 35%;
}
.commentSection__add textarea {
  width: 100%;
  height: 10em;
  resize: none;
  padding: 0.5em;
  border: none;
  background-color: rgb(182, 182, 182);
}
.commentSection__add textarea:focus {
  outline: none;
}
.commentSection__add__starRating {
  display: inline-block;
  transform: translateY(-80%);
  width: -moz-fit-content;
  width: fit-content;
}
.commentSection__add__starRating:hover {
  cursor: pointer;
}
.commentSection__add__starRating span {
  font-size: 2em;
}
.commentSection__add__starRating span:hover {
  color: yellow !important;
}
.commentSection__add button {
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 1em;
  color: rgb(0, 0, 0);
  background-color: rgb(182, 182, 182);
  border: none;
  align-self: flex-end;
  border-radius: 0 0 0.5em 0.5em;
  transition: background-color linear 150ms;
}
.commentSection__add button:hover {
  background-color: rgb(59, 231, 136);
  color: white;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

@media (max-width: 1020px) {
  .vehicleDetails__info__price {
    position: static;
    font-size: 1.9em;
  }
  .vehicleDetails__info__price__discounted {
    font-size: 0.8em;
  }
}
@media (max-width: 880px) {
  .vehicleDetails {
    gap: 1em;
  }
  .vehicleDetails__carousel {
    height: -moz-fit-content;
    height: fit-content;
  }
  .vehicleDetails__info__price {
    position: static;
    font-size: 1.6em;
  }
  .vehicleDetails__info__price s {
    display: none;
  }
  .vehicleDetails__info__price sub {
    display: none;
  }
  .vehicleDetails__info__price__discounted {
    font-size: 1em;
  }
  .commentSection__add textarea {
    height: 6em;
  }
}
@media (max-width: 640px) {
  .vehicleDetails {
    flex-direction: column;
  }
  .vehicleDetails__carousel {
    width: 100%;
  }
  .vehicleDetails__info {
    width: 100%;
  }
  .vehicleDetails__info__price {
    position: static;
  }
  .commentSection {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=VehicleDetails.css.map */