.vehicle {
    display: flex;
    flex-flow: column wrap;
    min-width: 30%;
    max-width: 40%;
    padding: 0.5em;
    border: solid 2px white;
    border-radius: 1em;
    transition: all linear 75ms;

    &:hover {
        scale: 1.02;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
    }

    &__name {
        color: white;
        height: 4em;
        line-height: 3em;
        text-align: center;
    }

    &__thumbnail {
        position: relative;
        transition: all linear 75ms;
        clip-path: border-box;
        img{
            width: 100%;
        }
        &:hover{
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 15%;
                bottom: 1em;
                background: white;
                opacity: 25%;
                filter: blur(10px);
                border-radius: 100%;
            }
        }
    }

    &__link {
        background: black;
        color: white;
        padding: 1em;
        border: solid 2px white;
        border-radius: 0.5em;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 1em;
        transition: background-color ease-in 150ms;

        &:hover {
            font-weight: bold;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
            -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
            background-color: white;
            color: black;

            span {
                margin-left: 1em;
            }
        }
    }
}