.sidebar {
    flex-grow: 1;

    &__search {
        display: flex;
        height: 2em;

        &__clear {
            background-color: rgb(236, 109, 109);
            color: white;
            border: none;
        }

        input {
            height: 2em;
        }

        button {
            width: 2em;
            height: 2em;

            img {
                width: 100%;

            }
        }
    }

    &__title {
        color: white;
    }

    &__controls {

        h3 {
            color: white;
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.3em;

            &__btn {
                color: white;
                background: rgb(70, 70, 70);
                padding: 0.5em 1em 0.5em 1em;
                border: solid 1px white;
                border-radius: 0.5em;
                transition: background-color linear 150ms;

                &:hover {
                    background: white;
                    color: black;
                }
            }
        }

        &__params {
            display: flex;
            flex-wrap: wrap;
            gap: 0.3em;
            padding-bottom: 0.5em;
            &__btn {
                color: white;
                background: rgb(70, 70, 70);
                padding: 0.5em 1em 0.5em 1em;
                border: solid 1px white;
                border-radius: 0.5em;
                transition: background-color linear 150ms;

                &:hover {
                    background: white;
                    color: black;
                }
            }
        }
    }
}


@media(max-width:1480px){
    .sidebar{
        &__controls{
            h3{
                font-size: 1em;
            }
            &__tags{
                button{
                    font-size: 1em;
                }
            }
            &__params{
                button{
                    font-size: 1em;
                }
            }
        }
    }
}


@media(max-width:1020px){
    .sidebar{
        &__controls{
            h3{
                font-size: 1em;
            }
            &__tags{
                margin-bottom: 1em;
            }
        }
    }
}


@media(max-width:880px){
    .sidebar{

    }
}

@media (max-width: 640px) {
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(45, 45, 45);
        min-height: 100dvh;
        &__title{
            display: none;
        }
        &__search{
            display: flex;
            width: 90%;
            margin-top: 1em;
            height: fit-content;
            &__searchBtn{
                height: auto!important;
            }
            &__clear{
                height: auto!important;
                font-size: 1em;
            }
            input{
                font-size: 1em;;
                flex-grow: 1;
            }
        }
        &__controls{
            padding: 0 1em;
            text-align: start;
            &__tags{
                button{
                    font-size: 1.8em;
                }
            }
            h3{
                margin: 1em 0;
                font-size: 2em;
            }

            &__params{
                button{
                    font-size: 1.8em;
                }
            }
        }
    }
}

@media (max-width:440px) {
    .sidebar{
        &__controls{
            &__tags{
                button{
                    font-size: 1em;
                }
            }
            &__params{
                button{
                    font-size: 1em;
                }
            }
        }
    }
}