.sidebar {
    flex-grow: 1;

    &__search {
        display: flex;
        height: 2em;

        &__clear {
            background-color: rgb(236, 109, 109);
            color: white;
            border: none;
        }

        input {
            height: 2em;
        }

        button {
            width: 2em;
            height: 2em;

            img {
                width: 100%;

            }
        }
    }

    &__title {
        color: white;
    }

    &__controls {

        h3 {
            color: white;
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.3em;

            &__btn {
                color: white;
                background: rgb(70, 70, 70);
                padding: 0.5em 1em 0.5em 1em;
                border: solid 1px white;
                border-radius: 0.5em;
                transition: background-color linear 150ms;

                &:hover {
                    background: white;
                    color: black;
                }
            }
        }

        &__params {
            display: flex;
            flex-wrap: wrap;
            gap: 0.3em;

            &__btn {
                color: white;
                background: rgb(70, 70, 70);
                padding: 0.5em 1em 0.5em 1em;
                border: solid 1px white;
                border-radius: 0.5em;
                transition: background-color linear 150ms;

                &:hover {
                    background: white;
                    color: black;
                }
            }
        }
    }
}