.homepage {
    display: flex;
    background: black;
    width: 100%;
    min-height: 100dvh;
    gap: 1em;
    padding: 1em;
    position: relative;

    &__feed {
        position: relative;
        width: 75%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }
    &__sidebar{
        flex-grow: 1;
    }
}



@media (max-width: 1480px) {
    .homepage{
        &__feed{
            justify-content: space-around;
            gap: 0.5em;
            row-gap: 0.5em;
        }
    }
}

@media (max-width: 1020px) {
    .homepage{
        
        &__feed{
            gap: 0;
            row-gap: 0.5em;
            justify-content: space-around;
            width: 120%;
        }
    }
}


@media(max-width:880px){
    .homepage{
        
        &__feed{
            gap: 0;
            row-gap: 0.5em;
            justify-content: space-around;
            width: 150%;
        }
    }
}


@media (max-width: 640px) {
    .homepage{
        flex-direction: column;
        &__feed{
            display: flex;
            width: 100%;
            justify-content: space-around;
            gap: 0.2em;
            row-gap: 1em;
        }
        &__sidebar{
            display: none;
        }
    }
}